<!DOCTYPE HTML>
<html class="has-navbar-fixed-top">
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
              {% if type == "airline_staff" %}
            <a class="navbar-item" href="/view_flights">
              <img src="static/images/logo.png" width="112" height="28">
            </a>
            {% else %}
            <a class="navbar-item" href="/">
              <img src="static/images/logo.png" width="112" height="28">
            </a>
            {% endif %}

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>

          <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
              <a class="navbar-item" href="search">
                  Advanced Search
              </a>
              {% if type == "customer" %}
              <a class="navbar-item" href="/my_flights">
                  My Flights
              </a>
              <a class="navbar-item">
                  My Ratings
              </a>
              <a class="navbar-item">
                  Track my Spending
              </a>
              {% elif type == "airline_staff" %}
              <a class="navbar-item" href="/create_flight">
                  Create Flight
              </a>
              <a class="navbar-item" href="/add_airplane">
                  Register New Airplane
              </a>
              <a class="navbar-item" href="/add_airport">
                  Register New Airport
              </a>
              <a class="navbar-item" href="/view_ratings">
                  Ratings
              </a>
              <a class="navbar-item" href="/view_frequent_customers">
                  Frequent Customers
              </a>
              <a class="navbar-item" href="/view_reports">
                  Reports
              </a>
              <a class="navbar-item" href="/view_earned_revenue">
                  Earned Revenue
              </a>

              {% endif %}

              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  More
                </a>

                <div class="navbar-dropdown">
                  <a class="navbar-item">
                    About
                  </a>
                  <a class="navbar-item">
                    Jobs
                  </a>
                  <a class="navbar-item">
                    Contact
                  </a>
                  <hr class="navbar-divider">
                  <a class="navbar-item">
                    Report an issue
                  </a>
                </div>
              </div>
              <div class="navbar-item is-expanded pl-5">
                  <form action="/search" method="GET">
                      <div class="field has-addons">
                          <div class="control">
                              <input class="input" type="text" name="q" placeholder="Search">
                          </div>
                          <div class="control">
                              <button class="button is-link">Search</button>
                          </div>
                      </div>
                  </form>
              </div>
            </div>

            <div class="navbar-end">
              <div class="navbar-item">
                {% if username %}
                <div class="field has-addons">
                    <div class="control">
                        <a class="button is-link is-outlined is-static" >
                            {{ username }}
                        </a>
                    </div>
                    <div class="control">
                        <a class="button is-link" href="/logout">
                            Logout
                        </a>
                    </div>
                {% else %}
                <div class="buttons">
                  <a class="button is-link" href="/login">
                    <strong>Log In</strong>
                  </a>
                  <a class="button is-outlined is-link" href="/register">
                      Sign Up
                  </a>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </nav>
        <!-- Hero -->
        <section class="hero is-link">
            <div class="hero-body" align="center">
                <h1 class="title">
                    {{ title }}
                </h1>
                <h2 class="subtitle">
                    {{ subtitle }}
                </h2>
            </div>
        </section>
        <section class="section">
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </section>
    </body>
</html>
