{% extends "website/base.html" %}
{% block content %}
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-half">
                        <div class="box">
                            <h1 class="title" align="center">Create Flight</h1>
                        <form action="/create_flight" method="POST">
                            <div class="field">
                                <label class="label">Flight Number</label>
                                <div class="control">
                                    <input class="input" type="number" name="flight_number" value="{{ flight_no }}" readonly>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column">
                                    <div class="field">
                                        <label class="label">Departure Date</label>
                                        <input class="input" type="date" name="departure_date" >
                                        <input class="input" type="time" name="departure_time" >
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="field">
                                        <label class="label">Arrival Date</label>
                                        <input class="input" type="date" name="arrival_date" >
                                        <input class="input" type="time" name="arrival_time" >
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="columns">
                                    <div class="column">
                                        <label class="label">Airplane</label>
                                        <div class="control">
                                            <div class="select is-fullwidth">
                                                <select name="airplane">
                                                    <option>Select Airplane</option>
                                                    {% for airplane in airplanes %}
                                                        <option value="{{ airplane.id }}">{{ airplane.id }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <label class="label">Status</label>
                                        <div class="control">
                                            <div class="select is-fullwidth">
                                                <select name="status">
                                                    <option>On Time</option>
                                                    <option>Delayed</option>
                                                    <option>Cancelled</option>
                                                    <option>Arrived</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    {% csrf_token %}
                                    <button class="button is-link is-fullwidth">Add Flight</button>
                                </div>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}
