{% extends "website/base.html" %}
{% block content %}
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-half">
                        <div class="box">
                            <h1 class="title" align="center">Advanced Search</h1>
                        <form action="/search" method="GET">
                            <div class="columns">
                                <div class="column">
                                    <div class="field">
                                        <label class="label">Departure</label>
                                        <input class="input" type="text" name="src" placeholder="Departure Location">
                                    </div>
                                    <div class="field">
                                        <label class="label">Flight Number</label>
                                        <input class="input" type="text" name="flight_no" placeholder="Flight Number">
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="field">
                                        <label class="label">Arrival</label>
                                        <input class="input" type="text" name="dest" placeholder="Arrival Location">
                                    </div>
                                    <div class="field">
                                        <label class="label">Airline</label>
                                        <input class="input" type="text" name="airline" placeholder="Airline">
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Flight Date</label>
                                <input class="input" type="date" name="date" placeholder="Date">
                            </div>
                            <div class="field">
                                <div class="control">
                                    <button class="button is-link is-fullwidth">Search</button>
                                </div>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
    {% if flights %}
        <table class="table is-fullwidth pt-5">
            <thead>
                <tr>
                    <th>Airline</th>
                    <th>Flight Number</th>
                    <th>Origin</th>
                    <th>Destination</th>
                    <th>Departure</th>
                    <th>Arrival</th>
                    <th>Price</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for flight in flights %}
                    <tr>
                        <td>{{ flight.airline }}</td>
                        <td>{{ flight.flight_no }}</td>
                        <td>{{ flight.origin }}</td>
                        <td>{{ flight.destination }}</td>
                        <td>{{ flight.departure }}</td>
                        <td>{{ flight.arrival }}</td>
                        <td>{{ flight.price }}</td>
                        <td>{{ flight.status }}</td>
                        <td>
                            <form action="/purchase_tickets" method="get">
                                <input type="hidden" name="flight_no" value="{{ flight.flight_no }}">
                                <input type="hidden" name="airline" value="{{ flight.airline }}">
                                <button class="button is-link is-small" type="submit">Book</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
